<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Daily Regression Suite" parallel="tests" thread-count="2">
    <test name="Home Page Tests">
        <classes>
            <class name="HomePageTest" />
        </classes>
    </test>
    <test name="Login Page Tests">
        <classes>
            <class name="LoginPageTest" />
        </classes>
    </test>
</suite>