<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" verbose="1" thread-count="1">
    <test name="appAutomation-regression-tests">
        <classes>
            <class name="HomePageTest">
                <methods>
                    <include name="searchFriendsNameUsingFacebookSearch"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>